.header {
  display: flex;
  justify-content: space-between;
  max-width: 830px;
  margin: auto;
  gap: 12px;
}

.form {
  display: flex;
  justify-content: space-between;
  flex: 1;
  max-width: 510px;
  gap: 12px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: space-between;
  max-width: 307px;
}

.queue {
  list-style: none;
  padding: 0;
  margin: 80px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 656px;
  gap: 12px;
}
