.input {
  display: none;
  transition: var(--common-transition);
}

.label {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  margin-left: 30px;

  transition: var(--common-transition);
}

.label::before,
.label::after {
  content: "";
  position: absolute;
  margin: 0;
  transition: color, background-color 0.3s linear;
}

.label::before {
  left: -30px;

  width: 20px;
  height: 20px;

  border: 2px solid #000;
  border-radius: 50%;
}

input:checked + .label::after {
  left: -22px;

  width: 8px;
  height: 8px;

  background-color: #000;
  border-radius: 50%;
}

.input:hover + .label::before {
  background-color: var(--bg-input-disabled);
}

.input:active + .label::before {
  border: 2px solid var(--text-input-placeholder);
}

.input:active + .label::after {
  background-color: var(--text-input-placeholder);
}

.input:disabled + .label::before {
  background: var(--bg-input-disabled);
  border: 2px solid var(--text-input-placeholder);
}

.input:disabled + .label::after {
  background: var(--text-input-placeholder);
}
