.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 980px;
  margin: 48px auto 0;
  gap: 12px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.list-radio {
  width: 221px;
}

.list-button {
  width: 707px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
  max-width: 1010px;
  min-height: 340px;
  margin: 50px auto 0;
}
